---
import social from "../data/social.json"
import settings from "../data/settings.json"
import { Image } from "astro:assets"
import ContactPhoto from "../assets/videoman.jpg"
---

<section class="overflow-hidden py-20" id="contact">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap py-16 -m-8">
			<div class="w-full md:w-6/12 p-8">
				<h2 class="font-headings font-bold text-red-400 mb-8 text-8xl uppercase">Contact</h2>
				<h3 class="font-headings mb-3 text-2xl font-bold text-red-400 uppercase text-left">We'd love to hear from you.</h3>
			</div>
			<div class="w-full md:w-1/2 p-8">
				<div class="flex flex-wrap -m-6">
					<div class="w-full md:w-1/2 p-6">
						<div class="max-w-xs text-left md:mx-auto">
							<h6 class="font-headings mb-3 text-xl font-bold text-red-400">Address</h6>
							<p class="text-xl text-gray-400 font-medium">{settings.address}</p>
						</div>
					</div>
					<div class="w-full md:w-1/2 p-6">
						<div class="max-w-xs text-left md:mx-auto">
							<h6 class="font-headings mb-3 text-xl font-bold text-red-400">Email</h6>
							<p class="text-xl text-gray-400 font-medium"><a href="mailto:{settings.email}" class="text-blue-300">{settings.email}</a></p>
						</div>
					</div>
					<div class="w-full md:w-1/2 p-6">
						<div class="max-w-xs text-left md:mx-auto">
							<h6 class="font-headings mb-3 text-xl font-bold text-red-400">Phone</h6>
							<p class="text-xl text-gray-400 font-medium"><a href="tel:{settings.phone}" class="text-blue-300">{settings.phone}</a></p>
						</div>
					</div>
					<div class="w-full md:w-1/2 p-6">
						<div class="max-w-xs text-left md:mx-auto">
							<h6 class="font-headings mb-3 text-xl font-bold text-red-400">Socials</h6>
							<p class="text-xl text-gray-400 font-medium">Explore our wide range of successful projects across various genres.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h-auto md:h-96">
			<img src={ContactPhoto.src} alt="" class="rounded-xl w-full h-full object-cover" />
		</div>
	</div>
</section>
