---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Base.astro';
import Nav from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

interface Project {
  data: {
    title: string;
    description: string;
    author: string;
    video: string;
    cover: string;
  };
  render: () => Promise<{ Content: any }>;
}

const navLinks = [
  { href: '/#home', text: 'Home' },
  { href: '/#about', text: 'About' },
  { href: '/#projects', text: 'Projects' },
  { href: '/#contact', text: 'Contact' }
];

const { project } = Astro.props as unknown as { project: Project };
const { Content } = await project.render();

const seo = {
  title: project.data.title,
  description: project.data.description
}
---

<Layout seo={seo}>
  <Nav navLinks={navLinks} logo="TriangleLogo" slot="header"/>
  <article class="py-8 lg:py-12 text-textColor">
    <header class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-xl mb-8 lg:mb-12">
      <div class="text-center mb-5 lg:mb-8">
        <h1 class="text-8xl mb-3 font-display font-bold">{project.data.title}</h1>
        <p class="mt-4 text-lg text-primary text-bold text-body">{project.data.description}</p>
      </div>
    </header>
  
    <figure class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-7xl mb-8 lg:mb-12">
      {project.data.video ? (
        <video class="prose-video" src={project.data.video} autoplay loop muted playsinline></video>
      ) : (
        <Image src={project.data.cover} alt={project.data.title} width={800} height={600} class="prose-img" />
      )}
    </figure>
  
    <div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl">
      <div class="prose dark:prose-invert prose-headings:font-display prose-h2:text-4xl prose-h3:text-2xl prose-base font-body mx-auto prose-figcaption:text-center prose-a:text-secondary prose-img:mx-auto">
        <Content />
      </div>
    </div>  
  </article>
</Layout>
</Layout>

