---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Base.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

interface Project {
  data: {
    title: string;
    description: string;
    author: string;
    video: string;
  };
  render: () => Promise<{ Content: any }>;
}

const { project } = Astro.props as { project: Project };
const { Content } = await project.render();

const seo = {
  title: project.data.title,
  description: project.data.description
}
---

<Layout seo={seo}>
  <article class="prose max-w-3xl mx-auto prose-figcaption:text-center prose-a:text-indigo-700 prose-img:mx-auto">
    <h1>{project.data.title}</h1>
    <p class="text-lg lg:text-2xl text-gray-400">{project.data.author}</p>

    <p>{project.data.description}</p>
  
    <figure class="mb-5 lg:mb-6 xl:w-[calc(100%_+_10.5em)] xl:ml-[-5.25em]">
      <video src={project.data.video} autoplay loop muted playsinline></video>
      <figcaption>Image caption</figcaption>
    </figure>
    <Content />
  </article>
</Layout>

